<!DOCTYPE html>
<html>
<head>
    <title>Unselphish</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=VT323&display=swap">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Geo&display=swap">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Sarpanch&display=swap">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='other.css') }}">
</head>
<body style="background-image: url('static/bg.png');">
    <header class="header">
        <div>
            <!-- Placeholder for your logo -->
            <img src="static/logo.png" alt="Logo" style="width: 100px; height: 100px;">
        </div>
        <div class="menu-content">
            <!-- Hyperlinks to other pages -->
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/how_to_use">How To Use</a>
            <a href="/credits">Credits</a>
            <a href="/license">License</a>
            <a href="/leaderboard">Leaderboard</a>
        </div>
    </header>
    <div class="gap"></div>
    <div class="main">
        <iframe width="455" height="315" src="https://www.youtube.com/embed/ffRsEkzuDAU?autoplay=1&mute=1" title="Unselphish:  How  To Use? | How to download Emails? | How to download WhatsApp Chats." frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div class="gap"></div>
</body>
</html>