.header {
    font-family: 'VT323';
    background-color: rgb(41, 41, 43);
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 20px;
    opacity: 0.8;
}

.menu-content {
    margin-top: 10px;
    font-size: 30px;
}

.menu-content a {
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    color: #fff;
    margin: 0 5px;
}

.graphics {
    opacity: 0.8;
    align-items: center;
    margin: auto;
    text-align: center; 
    margin-top: 50px; 
    font-family: 'Geo';
    background-color: rgb(41, 41, 43);
    padding: 5px;
    width: 70%;
}

.main {
    opacity: 0.9;
    margin-top: 50px;
    background-color: rgb(41, 41, 43);
    color: aliceblue;
    font-family: 'Sarpanch';
    text-align: center;
    margin: auto;
    width: 70%;
    padding: 10px;
}

.gap {
    background:none;
    height:50px;
    display:inline-block;
}

.fileinput {
    border: 1px solid #333;
    background-color: #ececec;
    border-radius: 5px;
    font-family: 'Sarpanch';
    color: black;
}

.submitbutton {
    border-radius: 5px;
    font-family: 'Sarpanch';
}

input[type="file"]::file-selector-button {
    border-radius: 5px;
    font-family: 'Sarpanch';
}

.query {
    font-family: 'Geo';
    background-color: rgb(41, 41, 43);
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 10px;
    opacity: 0.8;
}